*~
sandbox/build
sandbox/.gradle
sandbox/out
.idea/workspace.xml
*.log
addressbook-web-tests/out
addressbook-web-tests/build
addressbook-web-tests/.gradle
mantis-tests/out
mantis-tests/build
mantis-tests/.gradle
soap-sample/out
soap-sample/build
soap-sample/.gradle
rest-sample/out
rest-sample/build
rest-sample/.gradle
github-sample/out
github-sample/build
github-sample/.gradle
.idea/libraries
